#==============================================================================
# Execution Environment
ENVIRONMENT=DEVELOPMENT

#==============================================================================
# Swagger Auth
SWAGGER_USER=admin
SWAGGER_PASSWORD=1234

#==============================================================================
# Logger
SERVICE_NAME=gaming-library-apis
LOG_LEVEL=info
#DEBUG="*"
DEBUG="prisma:client,prisma:engine"

#==============================================================================
# Server
JWT_SECRET_KEY=test
JWT_EXPIRATION_TIME=7d

#==============================================================================
# Server
PORT=3000

#==============================================================================
# Database variables
DATABASE_URL="postgresql://test:test@gaming-library-db:5432/test?schema=public"
POSTGRES_PASSWORD=test
POSTGRES_USER=test
POSTGRES_DB=test

#==============================================================================
# HTTP conn between projects
HTTP_TIMEOUT=5000
HTTP_MAX_REDIRECTS=5
GAMESPOT_API_BASE_URL=http://www.gamespot.com
GAMESPOT_API_KEY=test
RAWG_API_BASE_URL=https://api.rawg.io
RAWG_API_KEY=test