#==============================================================================
# Execution Environment
ENVIRONMENT=DEVELOPMENT

#==============================================================================
# Swagger Auth
SWAGGER_USER=admin
SWAGGER_PASSWORD=1234

#==============================================================================
# Logger
SERVICE_NAME=gaming-library-apis
LOG_LEVEL=info
#DEBUG="*"
DEBUG="prisma:client,prisma:engine"

#==============================================================================
# Server
SERVICE_PORT=3000

#==============================================================================
# Database variables
DATABASE_URL="postgresql://gamingLibrary:gamingLibrary@gaming-library-db:5432/gamingLibrary?schema=public"
POSTGRES_PASSWORD=gamingLibrary
POSTGRES_USER=gamingLibrary
POSTGRES_DB=gamingLibrary